div.imagebase {
    position: relative;
    display: block;
    width: 400px;
    max-width: 400px;
    height: 400px;
    max-height: 400px;
}
  
div.imagestack {
    position: absolute;
    display: block;
    width: 400px;
    max-width: 400px;
    height: 400px;
    max-height: 400px;
}

div.offsetimagestack {
    position: absolute;
    display: block;
    right: 100px;
    width: 400px;
    max-width: 400px;
    height: 400px;
    max-height: 400px;
}

div.containingblock {
    position: relative;
    display: block;
    width: 800px;
    height: 400px;
}